* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
}

.button {
  flex: 1;
  padding: 40px 20px;
  max-width: 200px;
}

.weapons {
  margin-top: 100px;
}

.weapons > * {
  font-weight: bold;
}

#quit {
  margin-top: 5rem;
  padding: 10px 10px;
}

#output {
  margin: 5rem;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  
}

.winner {
  background-color: #00ff00;
}

.loser {
  background-color: #ff0000;
}