* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
}

.button {
  padding: 1rem;
}

.weapons > * {
  font-weight: bold;
}

.quit {
  margin-top: 5rem;
}